@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Raleway');

/* Styling */
body {
/*    background: #e2bc1c;*/
    background-image: url(../img/Actors_of_La_La_Land_dance_in_Griffith_Park.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;


}

h1 {
    font-family: 'Poiret One', cursive;
    text-transform: uppercase;
    margin-bottom: 400px;
    text-align: center;
    color: aliceblue;
    font-size: 70px;
    margin-top: 250px;
    

}

video {
  max-width: 100%;
  width: 100%;

}


p {
    margin: 50px;
    color: white;
    font-family: 'Raleway', Arial; 
    
}

li {
    color: white;
    list-style: none;
    
    justify-content: space-between;
    
}

a {
    color: white;
    font-family: "Raleway", Arial; 
}



/* Media Queries */
/* Mobile */
@media screen and
  (min-width: 20em) 
  and (max-width: 47.9375em)  { 
      
      body {
           background: #e2bc1c;
           background-image: url(../img/Actors_of_La_La_Land_dance_in_Griffith_Park.jpg);
          background-repeat: no-repeat;
          
          background-size: contain; 
          margin: 0;
      }
      
      h1 {
          margin-top: 100px;
          margin-bottom: 250px;
      }
      

      
}

