@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Raleway');

/* Styling */
body {
    background: #e2bc1c;
}

h1 {
    font-family: 'Poiret One', cursive;
    text-transform: uppercase;

}

video {
  max-width: 100%;
  width: 100%;
}