@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Raleway');

/* Styling */
body {
/*    background: #e2bc1c;*/
    background-image: url(../img/Actors_of_La_La_Land_dance_in_Griffith_Park.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    font-family: 'Poiret One', cursive;
    text-transform: uppercase;
    margin-bottom: 500px;
    text-align: center;
    color: aliceblue;
    font-size: 70px;

}

video {
  max-width: 100%;
  width: 100%;
}