@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Raleway');


/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */
.color-1 {
    background: #e2bc1c;
}

.color-2 {
    background: #1e0e58;
}

.color-3 {
    background: #44239f;
}

.color-4 {
    background: #8399ae;
}

.color-5 {
    background: #94c4ca;
}



/* Textures or Patterns*/
.pattern-1 {
    background: url("../img/old_wall.png");
}

.pattern-2 {
    background: url("../img/small-crackle-bright.png");
}

.pattern-3 {
    background: url("../img/black-Linen.png");
}

.pattern-4 {
    background: url("../img/dark_embroidery.png");
}

.pattern-5 {
    background: url("../img/sprinkles.png");
}


/* Imagery */
.imagery-1  img {
    border: 0; 
}

/* Icons */


/* Navigation */

a:link {
    text-decoration: none;
    color: goldenrod;
}

a:visited {
    text-decoration: none;
    color: aqua;
}

a:focus {
    
}

a:hover,
a:active {
  border-bottom: 2px solid #e2bc1c;  
}


/* Typography */
h1 {
    font-family: 'Poiret One', cursive;
    text-transform: uppercase;

}

h3 {
     font-family: 'Poiret One', cursive;

     color: navy;
}

p {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5em;
}